.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    max-width: 100%;
    width: 100%;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
} 